alias gst="git status"
alias gl="git log"
alias gp="git push"
alias gpom="git push origin master"
alias gpl="git pull"
alias ga="git add"
alias gd="git diff"
alias gc="git commit"
alias gcl="git clone"
alias gmv="git mv"
alias grl="git reflog"
# For Deb:
# alias x="sudo apt"
# For RPM:
alias x="sudo dnf"
alias open="xdg-open"
alias cl="clear"
alias python="python3"
alias :wq="exit"
